*{
    color: #000;
    font-weight:500;
}
body{
    background-image:url(../img/my-logo/src-files/src-bg_3.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
}
nav{
    position: absolute;
    top: 50%;
    width: 55vw;
    box-sizing: content-box;
    left: 50%;
    right: auto;
    transform: translate(-50%,-50%);
    
}
.logo img{
    width: 20vw;
    margin-top: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50%,10%);
    padding: 7%;
    
}

nav a{
    display: block;
    text-align: center;
    padding: 3%;
    margin:10%;
    margin-top: 20%;
    background-color: #b9b9b93b;
    border-radius: 100px;
    
}

nav a:hover{
    transition-duration: 400ms;
    background-color: #b9b9b900;
    
}
/*nav .nav-wk{
    background-color: #7c78b8;
}


nav .nav-abm{
    background-color: #7193d2;
}

nav .nav-ctme{
    background-color: #65b6cc;
}*/